body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#number-display {
  font-size: 48px;
  margin-top: 20px;
}

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

#timer {
  font-size: 24px;
  margin-left: 5px;
}

button.correct {
  background-color: green;
}

button.incorrect {
  background-color: red;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 100px;
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#prime-button {
  margin-right: 10px;
}

#composite-button {
  margin-left: 10px;
}

#factorization-result {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  margin-top: 1em;
}
